<html>
<head>
	<title>Online Gift Shop_Project-1</title>
	<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: blue;
}

.topnav a.active {
  background-color: black;
  color: white;
}
</style>
</head>
<body>
	<div style="padding-left:16px; text-align:center; margin-top:1%;">
  <h2>PFSD Project-1</h2>
</div>

	<div class="topnav">
  <a class="active" href="">Home</a>
  <a href="{{url_for('About')}}">About</a>
  <a href="{{url_for('demo_1')}}">Stock Manager(Login)</a>
  <a href="{{url_for('demo_2')}}">Shop Owner(Login)</a>
  <a href="{{url_for('demo_3')}}">Customer(Login)</a>
  <a href="{{url_for('demo_4')}}">Customer(Register)</a>
  </div>

  
</body>
</html>